@charset "UTF-8";
* {
  font-family: 微軟正黑體;
}

body {
  height: 1000px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}

header.jumbotron {
  color: white;
  margin-bottom: 0px;
  text-align: center;
  background-image: url(https://goo.gl/LS8Lj8);
  background-size: cover;
  background-attachment: fixed;
}
header.jumbotron .container {
  color: back;
  padding: 100px 0px;
}
header.jumbotron hr {
  max-width: 300px;
  border: solid 2px #576375;
}
header.jumbotron h4 {
  color: rgba(255, 255, 255, 0.8);
}

section {
  padding: 50px 0px;
}

section#section_ask {
  background-color: #ffcc99;
}
section#section_ask .col-sm-5.img {
  background-image: url(https://goo.gl/E2LVNc);
  height: 400px;
  background-size: cover;
}

h2 {
  margin-top: 130px;
  padding: 0px 20px;
}

section#section_about img {
  width: 100%;
}
