nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      a.navbar-brand(href="#") 首頁
    .nav.navbar-nav.navbar-right
      li
       a(href="#section_ask") INTRO
      li
       a(href="#section_about") ABOUT
      li
       a(href="#section_video") VIDEO
      
header.jumbotron
 .container
   h1 音樂 MUSIC
section#section_ask
 .container
  .row
   .col-sm-5.img
   .col-sm-7
      h2 音樂是甚麼？
      h3 音樂廣義的講，音樂就是任何一種藝術的、令人愉快的、審慎的或其他什麼方式排列起來的聲音。
section#section_about
 .container
  .row
   .col-sm-4
     img(src="https://goo.gl/w9gxu4",alt="")
     h3 鋼琴
     h4 很討厭 但是長大後就依賴
   .col-sm-4
     img(src="https://goo.gl/1EP5Wr",alt="")
     h3 小提琴
     h4 想要學習的新樂器
   .col-sm-4
     img(src="https://goo.gl/QPfSLA",alt="")
     h3 療癒
     h4 可以安慰自己的疲憊的心
     .embed-responsive.embed-responsive-16by9
        iframe.embed-responsive-item(src="https://www.youtube.com/embed/I6ObKfUyheA", allowfullscreen='')


section#section_video
  .container
    .row
      .col-sm-12
        h1 附上最喜歡的音樂 卡農
        hr
      .col-sm-12
       .embed-responsive.embed-responsive-16by9
        iframe.embed-responsive-item(src="https://www.youtube.com/embed/uwVKHP27wG8", allowfullscreen='')